<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.5" "http://jpf.sourceforge.net/plugin_0_5.dtd">
<plugin id="net.sf.anathema.campaign.plot" version="0.12">
	<requires>
		<import plugin-id="net.sf.anathema.core"/>
	</requires>
	<extension plugin-id="net.sf.anathema.core" point-id="MainModules" id="CampaignPlot">
		<parameter id="class" value="net.sf.anathema.campaign.module.CampaignModule"/>
	</extension>
	<extension plugin-id="net.sf.anathema.core"	point-id="AnathemaResources" id="Resources">
		<parameter id="bundle" value="Campaign"/>
	</extension>
</plugin>