<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.5" "http://jpf.sourceforge.net/plugin_0_5.dtd">
<plugin id="net.sf.anathema.core" version="1.0">
	<extension-point id="AnathemaResources">
		<parameter-def id="bundle" multiplicity="any"/>
	</extension-point>
	<extension-point id="ItemTypes">
		<parameter-def id="type" multiplicity="any">
			<parameter-def id="class" multiplicity="one"/>
			<parameter-def id="development" type="boolean" multiplicity="none-or-one"/>
		</parameter-def>
	</extension-point>
	<extension-point id="MainModules">
		<parameter-def id="class"/>
	</extension-point>
	<extension plugin-id="net.sf.anathema.core"	point-id="MainModules" id="AnathemaCore">
		<parameter id="class" value="net.sf.anathema.framework.module.AnathemaCoreModule"/>
	</extension>
	<extension plugin-id="net.sf.anathema.core"	point-id="AnathemaResources" id="Resources">
		<parameter id="bundle" value="anathema"/>
		<parameter id="bundle" value="About"/>
	</extension>
</plugin>