.metadata/
build/
bin/
.gradle/
*.iml
*.ipr
*.iws
out/
.classpath
.project
.settings/
*.launch
*.pdf
*.zip
Thumbs.db
*.log

# Repository
repository.version
*.item
*.ecg
*.yap
*.mdsc
*.srs
*.not

# Runtime
/Anathema/repository/*
/Anathema/anathema.properties