.metadata/
build/
bin/
.gradle/
Anathema*.zip
*.iml
*.ipr
*.iws
out/
.classpath
.project
.settings/
*.launch
*.pdf
*.zip
Thumbs.db

# Repository
repository.version
*.item
*.ecg
*.yap
*.xml
*.mdsc
*.srs
*.not

# Copied from /Development_Code/.cvsignore
/Development_Code/*.pdf
/Development_Code/*.jasper