<magicTemplate>
	<freePicksPredicate defaultResponse="true"/>
	<favoringTraitType type="AbilityType"/>
	<charmTemplate charmType="Sidereal">
		<martialArts rulesClass="net.sf.anathema.character.sidereal.template.RoninMartialArtsRules" level="Sidereal" highLevel="true" /> 
	</charmTemplate>
	<spellTemplate maximumSorceryCircle="Celestial" maximumNecromancyCircle="Shadowlands"/>
</magicTemplate>		