<essence isEssenceUser="true">
  <personalPool>
    <essencePart multiplier="2" />
    <willpowerPart multiplier="1" />
  </personalPool>
  <peripheralPool>
    <essencePart multiplier="6" />
    <willpowerPart multiplier="1" />
    <virtuePart>
      <virtueRanks count="4" multiplier="1" />
    </virtuePart>
  </peripheralPool>
</essence>