<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleVersion</key>
	<string>@version-major@.@version-minor@.@version-revision@</string>
	<key>CFBundleShortVersionString</key>
	<string>@version-major@.@version-minor@.@version-revision@</string>
	<key>CFBundleGetInfoString</key>
	<string>@version-major@.@version-minor@.@version-revision@</string>
	<key>CFBundleName</key>
	<string>Anathema</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>Athm</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>sungear.icns</string>
	<key>Java</key>
	<dict>
		<key>MainClass</key>
		<string>net.sf.anathema.AnathemaBootLoader</string>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/Contents/Resources/Java</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<!-- May need to update this if any jars get added to the project. -->
		<key>ClassPath</key>
			<array>
			<string>$JAVAROOT/anathema.jar</string>
			<string>$JAVAROOT/lib/basicplayer2.3.jar</string>
			<string>$JAVAROOT/lib/batik-anim.jar</string>
			<string>$JAVAROOT/lib/batik-awt-util.jar</string>
			<string>$JAVAROOT/lib/batik-bridge.jar</string>
			<string>$JAVAROOT/lib/batik-codec.jar</string>
			<string>$JAVAROOT/lib/batik-css.jar</string>
			<string>$JAVAROOT/lib/batik-dom.jar</string>
			<string>$JAVAROOT/lib/batik-ext.jar</string>
			<string>$JAVAROOT/lib/batik-extension.jar</string>
			<string>$JAVAROOT/lib/batik-gui-util.jar</string>
			<string>$JAVAROOT/lib/batik-gvt.jar</string>
			<string>$JAVAROOT/lib/batik-parser.jar</string>
			<string>$JAVAROOT/lib/batik-script.jar</string>
			<string>$JAVAROOT/lib/batik-svg-dom.jar</string>
			<string>$JAVAROOT/lib/batik-svggen.jar</string>
			<string>$JAVAROOT/lib/batik-svgpp.jar</string>
			<string>$JAVAROOT/lib/batik-swing.jar</string>
			<string>$JAVAROOT/lib/batik-transcoder.jar</string>
			<string>$JAVAROOT/lib/batik-ttf2svg.jar</string>
			<string>$JAVAROOT/lib/batik-util.jar</string>
			<string>$JAVAROOT/lib/batik-xml.jar</string>
			<string>$JAVAROOT/lib/batik.jar</string>
			<string>$JAVAROOT/lib/commons-io.jar</string>
			<string>$JAVAROOT/lib/commons-logging-api.jar</string>
			<string>$JAVAROOT/lib/db4o-6.0-java5.jar</string>
			<string>$JAVAROOT/lib/disy-commons-core.jar</string>
			<string>$JAVAROOT/lib/disy-commons-swing-dialog.jar</string>
			<string>$JAVAROOT/lib/disy-commons-swing-layout.jar</string>
			<string>$JAVAROOT/lib/disy-commons-swing.jar</string>
			<string>$JAVAROOT/lib/graphlayout.jar</string>
			<string>$JAVAROOT/lib/idw-gpl-1.4.0.jar</string>
			<string>$JAVAROOT/lib/itext-1.4.jar</string>
			<string>$JAVAROOT/lib/javalayer.jar</string>
			<string>$JAVAROOT/lib/l2fprod-common-directorychooser.jar</string>
			<string>$JAVAROOT/lib/l2fprod-common-tasks.jar</string>
			<string>$JAVAROOT/lib/mp3spi1.9.2.jar</string>
			<string>$JAVAROOT/lib/tritonus_share.jar</string>
			</array>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
			<key>defaultrepository</key>
			<string>%USER_HOME%/Library/Application Support/Anathema</string>
		</dict>
	</dict>
</dict>
</plist>
