<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleVersion</key>
	<string>@version-major@.@version-minor@.@version-revision@</string>
	<key>CFBundleShortVersionString</key>
	<string>@version-major@.@version-minor@.@version-revision@</string>
	<key>CFBundleGetInfoString</key>
	<string>@version-major@.@version-minor@.@version-revision@</string>
	<key>CFBundleName</key>
	<string>Anathema</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>Athm</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>sungear.icns</string>
	<key>Java</key>
	<dict>
		<key>MainClass</key>
		<string>net.sf.anathema.AnathemaBootLoader</string>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/Contents/Resources/Java</string>
		<key>JVMVersion</key>
		<string>1.6+</string>
		<!-- May need to update this if any jars get added to the project. -->
		<key>ClassPath</key>
			<array>
			<string>$JAVAROOT/anathema.jar</string>
			</array>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
			<key>defaultrepository</key>
			<string>%USER_HOME%/Library/Application Support/Anathema</string>
		</dict>
	</dict>
</dict>
</plist>
