<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.6" "http://jpf.sourceforge.net/plugin_0_6.dtd">
<plugin id="net.sf.anathema.character" version="0.12">
	<requires>
		<import plugin-id="net.sf.anathema.core" reverse-lookup="true"/>
	</requires>
	<runtime>
		<library id="core" path="/" type="code">
			<export prefix="*"/>
		</library>
	</runtime>
	<extension plugin-id="net.sf.anathema.core"	point-id="Menubar" id="Menubar">
		<parameter id="class" value="net.sf.anathema.character.impl.module.CharacterMenu"/>
	</extension>
	<extension plugin-id="net.sf.anathema.core"	point-id="Toolbar" id="Toolbar">
		<parameter id="class" value="net.sf.anathema.character.impl.module.view.CharacterTool"/>
	</extension>
	<extension plugin-id="net.sf.anathema.core"	point-id="AnathemaExtensions" id="AnathemaExtensions">
	  <parameter id="type">
		<parameter id="class" value="net.sf.anathema.character.impl.module.CharacterGenericsExtension"/>
		<parameter id="id" value="net.sf.anathema.character.generic.framework.ICharacterGenericsExtension"/>
	  </parameter>
	</extension>
	<extension plugin-id="net.sf.anathema.core"	point-id="PreferenceElements" id="PreferenceElements">
	  <parameter id="type">
		<parameter id="class" value="net.sf.anathema.character.impl.module.preferences.RulesetPreferenceElement"/>
		<parameter id="preferencekey" value="Ruleset"/>
	  </parameter>
	</extension>
	<extension plugin-id="net.sf.anathema.core"	point-id="MainModules" id="MainModules">
		<parameter id="class" value="net.sf.anathema.character.impl.module.CharacterModule"/>
	</extension>
	<extension plugin-id="net.sf.anathema.core"	point-id="ItemTypes" id="ItemType">
		<parameter id="type">
			<parameter id="class" value="net.sf.anathema.character.impl.module.ExaltedCharacterItemTypeConfiguration"/>
		</parameter>
	</extension>
	<extension plugin-id="net.sf.anathema.core"	point-id="ReportFactories" id="ReportFactories">
		<parameter id="class" value="net.sf.anathema.character.impl.module.reporting.JasperReportFactory"/>
		<parameter id="class" value="net.sf.anathema.character.impl.module.reporting.A4SheetReportFactory"/>
		<parameter id="class" value="net.sf.anathema.character.impl.module.reporting.LetterSheetReportFactory"/>
		<parameter id="class" value="net.sf.anathema.character.impl.module.reporting.TextReportFactory"/>
	</extension>
	<extension plugin-id="net.sf.anathema.core"	point-id="AnathemaResources" id="Resources">
		<parameter id="bundle" value="Abyssal"/>
		<parameter id="bundle" value="Backgrounds"/>
		<parameter id="bundle" value="Cascades"/>
		<parameter id="bundle" value="Castes"/>
		<parameter id="bundle" value="Character"/>
		<parameter id="bundle" value="CharacterControl"/>
		<parameter id="bundle" value="CharacterModule"/>
		<parameter id="bundle" value="CharacterSheet"/>
		<parameter id="bundle" value="CharmDuration"/>
		<parameter id="bundle" value="Charmgroups"/>
		<parameter id="bundle" value="Charms_Abyssal"/>
		<parameter id="bundle" value="Charms_Abyssal_Pages"/>
		<parameter id="bundle" value="Charms_Dragon-Blooded"/>
		<parameter id="bundle" value="Charms_Dragon-Blooded_Pages"/>
		<parameter id="bundle" value="Charms_DragonKing"/>
		<parameter id="bundle" value="Charms_Lunar"/>
		<parameter id="bundle" value="Charms_Lunar_Pages"/>
		<parameter id="bundle" value="Charms_MartialArts_Pages"/>
		<parameter id="bundle" value="Charms_Sidereal"/>
		<parameter id="bundle" value="Charms_Sidereal_Pages"/>
		<parameter id="bundle" value="Charms_Solar"/>
		<parameter id="bundle" value="Charms_Solar_Pages"/>
		<parameter id="bundle" value="Charms_Solar_SecondEdition"/>
		<parameter id="bundle" value="CharmTreeView"/>
		<parameter id="bundle" value="Dragon-Blooded"/>
		<parameter id="bundle" value="Equipment"/>
		<parameter id="bundle" value="Health"/>
		<parameter id="bundle" value="Intimacies"/>
		<parameter id="bundle" value="Lunar"/>
		<parameter id="bundle" value="MeritsFlaws"/>
		<parameter id="bundle" value="Natures"/>
		<parameter id="bundle" value="Overview"/>
		<parameter id="bundle" value="Sidereal"/>
		<parameter id="bundle" value="Solar"/>
		<parameter id="bundle" value="Sourcebooks"/>
		<parameter id="bundle" value="Spells_Necromancy"/>
		<parameter id="bundle" value="Spells_Pages"/>
		<parameter id="bundle" value="Spells_Sorcery"/>
		<parameter id="bundle" value="Traits"/>
		<parameter id="bundle" value="Weapons"/>
	</extension>
</plugin>