<essence isEssenceUser="true">
  <personalPool>
    <essencePart multiplier="5" />
    <willpowerPart multiplier="2" />
    <virtuePart>
      <virtueRanks count="4" multiplier="1" />
    </virtuePart>
  </personalPool>
  <peripheralPool>
    <essencePart multiplier="0" />
    <willpowerPart multiplier="0" />
    <virtuePart>
      <virtueRanks count="0" multiplier="0" />
    </virtuePart>
  </peripheralPool>
</essence>