/* Central Styles */

body { background-color:#000000;}
h3 { color:#FFFFFF; font-family:Verdana; }
p  { color:#FFFFFF; font-family:Verdana; }
a {text-decoration:none;  font-family:Verdana; }
a:link { color:#EEAA00; }
a:visited { color:#FFAA00; }
a:hover { color:#EEAA00;text-decoration:underline; }
img {border:0;}
table {border-collapse: collapse;}

/* Class Styles */

.head { position:absolute; top:0px; left:0px; }
.navigation { position:absolute; top:150px; left:0px; }
.content { position:absolute; top:150px; left: 210px; width:500px;}
.statusimg { height:50; width:50; }
.menuimg {height:50; width:150;}

/* Individual Styles */

img#headimg {height: 150; width:450;}
img#sfimg {height: 37; width: 125;}
table#menutable {vertical-align: top;}