<bonusPointCost uses="DefaultBonusPointCost.template">
  <advantages>
    <virtues>
      <fixedCost cost="3" />
      <maximumFreeRank rank="4"/>
    </virtues>
  </advantages>
</bonusPointCost>