<bonusPointCost uses="RevisedDefaultBonusPointCost.template">
  <advantages>
    <virtues>
      <fixedCost cost="1" />
      <maximumFreeRank rank="4"/>
    </virtues>
  </advantages>
</bonusPointCost>