<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.5" "http://jpf.sourceforge.net/plugin_0_5.dtd">
<plugin id="net.sf.anathema.campaign.music" version="0.12">
	<requires>
		<import plugin-id="net.sf.anathema.core"/>
	</requires>
	<extension plugin-id="net.sf.anathema.core"	point-id="MainModules" id="CampaignMusic">
		<parameter id="class" value="net.sf.anathema.campaign.music.impl.module.MusicDatabaseModule"/>
	</extension>
	<extension plugin-id="net.sf.anathema.core"	point-id="AnathemaResources" id="Resources">
		<parameter id="bundle" value="MusicModule"/>
		<parameter id="bundle" value="MusicView"/>
	</extension>
</plugin>