{
  groups: [
    {
      id: "Physical",
      traits: ["Strength", "Dexterity", "Stamina"]
    },
    {
      id: "Social",
      traits: ["Charisma", "Manipulation", "Appearance"]
    },
     {
      id: "Mental",
      traits: ["Perception", "Intelligence", "Wits"]
    }
  ]
}