<traitTemplates uses="template/LunarTraitCollection2ndDreams.template">
  <essence startValue="4" lowerableState="Default">
<limitation type="Static" value="10"/>
<minimum value="4"/>
  </essence>
  
</traitTemplates>