<magicTemplate>
	<freePicksPredicate defaultResponse="true"/>
	<favoringTraitType type="AttributeType"/>
	<charmTemplate charmType="Lunar">
	    <hasUniqueCharmType type="Knacks" label="Lunar.Knacks" keyword="Knack" canCountAsFavored="false"/>
		<martialArts level="Terrestrial" highLevel="true" /> 
	</charmTemplate>
	<spellTemplate maximumSorceryCircle="Celestial" maximumNecromancyCircle="Shadowlands"/>
</magicTemplate>		