<presentation>
  <color red="167" green="195" blue="220" />
  <newResources>
    <newAction>CharacterGenerator.NewCharacter.Lunar.Name</newAction>
  </newResources>
  <charmPresentation uses="template/LunarCharmPresentation.template"/>
</presentation>