	body
	{
		margin: 0;
		padding: 0;
		color: #DDDDDD;
		background-color: #000000;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		line-height: 140%;
		background:black url(images/background.gif) top left repeat-y;
	}

	p
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		line-height: 140%;
		color: #DDDDDD;
		margin: 4px 0px 8px 0px;
	}
	p.footerleft
	{
		font-size: 9px;
		color: #9F7507;
		text-align: right;
		margin: 0px 0px 5px 0px;
	}
	p.footerright
	{
		font-size: 9px;
		color: #08298D;
		text-align: left;
		margin: 0px 0px 5px 0px;
	}
	p.printable
	{
		font-size: 9px;
		color: #08298D;
		text-align: right;
		margin: 15px 0px 5px 0px;
	}

	a:link, a:visited, a:active
	{
		font-weight: bold;
		color: #F7C00B;
		text-decoration: none
	}
	a:hover, a:focus
	{
		color: #FFE16E;
	}
	a.blue:link, a.blue:visited, a.blue:active
	{
		color: #1640BF;
	}
	a.blue:hover, a.blue:focus
	{
		color: #083FF4;
	}

	/* Display "external link" icons on a tags in the #contents area (not with ie) */
	#contents a[href^="http:"]:after
	{
		content: ' ' url('images/link_external.gif')
	}
	#contents a[href^="http:"]:hover:after
	{
		content: ' ' url('images/link_external2.gif')
	}
	/* Do not display icons on domain links */
 	#contents a[href^="http://anathema.sourceforge.net"]:after
	{
		display: none
	}

	#menu
	{
		margin-top: 0px;
		padding-left: 10px;
		padding-right: 10px;
   		background: transparent url(images/top_05.gif) top right no-repeat;
	}
	#contents
	{
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 0px;
   		background: transparent url(images/top_06.gif) top left no-repeat;
	}
	#headerleft
	{
		margin-top: 0px;
		float: left;
		width: 165px;
		padding-left: 0px;
		padding-right: 0px;

	}
	#headerright
	{
		margin-top: 0px;
		float: left;
		width: 605px;
		padding-top: 7px;
		padding-left: 5px;
		padding-right: 5px;
		margin-left: 0px;
   		background: transparent url(images/top_04.gif) top left no-repeat;
	}
	#footer
	{
	    height: 80px;
    }
	#footerleft
	{
		vertical-align: bottom;
		margin-top: 0px;
		margin-bottom: 0px;
		width: 155px;
	    height: 80px;
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 0px;
	    background: transparent url(images/bottom_01.gif) bottom right no-repeat;
    }
	#footerright
	{
		vertical-align: bottom;
		margin-top: 0px;
		margin-bottom: 0px;
		width: 605px;
	    height: 80px;
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 0px;
	    background: transparent url(images/bottom_02.gif) bottom left no-repeat;
    }

h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: none;
	font-weight: bold;
	line-height: 100%;
	color: #FFFFFF;
	padding-left: 70px;
	padding-top: 5px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	line-height: 100%;
	color: #FFFFFF;
	padding-left: 5px;
	margin: 15px 0px 4px 0px;
	padding-bottom: 2px;
	border-bottom: 1px solid #08298D;
	}
h2.menu {
	color: #FFFFFF;
	border-bottom: 1px solid #7E2C0A;
	}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	line-height: 100%;
	color: #FFFFFF;
	padding-left: 5px;
	margin: 12px 0px 0px 0px;
	padding-bottom: 0px;
	}

blockquote {
	border: 1px solid #08298D;
	background: #060D1C;
	margin: 5px 25px 5px 25px;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 140%;
	color: #1640BF;
	}
li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: #1640BF;
	padding-left: 0px;
	margin: 5px 2px 5px 20px;
	list-style-type: circle;
	text-align: left;
	}
li.menu
	{
	margin: 5px 2px 5px 5px;
	color: #E09A16;
	line-height: 100%;
	}
li.menu:hover
	{
	list-style-type: disc;
	}
ul {
	border: 1px solid #08298D;
	background: #060D1C;
	margin: 5px 25px 5px 25px;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 140%;
	color: #1640BF;
	}
ul.menu {
	border: none;
	background: none;
	margin: 5px 5px 5px 5px;
	padding-left: 15px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	}

img { 
	border: none;
	}