<experiencePointCost uses="experience/DefaultExperienceCost.template">
  <advantages>
    <essence>
      <currentRating multiplier="10" />
    </essence>
  </advantages>
  <magic>
    <charms favored="10" general="12">
    	<highLevelMartialArts favored="12" general="15"/>
    </charms>
  </magic>
</experiencePointCost>