<magicTemplate>
	<freePicksPredicate type="Default"/>
	<charmTemplate charmType="Dragon-Blooded">
		<martialArts rulesClass="net.sf.anathema.character.db.template.TerrestrialMartialArtsRules" level="Terrestrial" highLevel="false"/>		
	</charmTemplate>
	<spellTemplate maximumSorceryCircle="Terrestrial" maximumNecromancyCircle="None"/>
</magicTemplate>		