<traitTemplates uses="template/DreamsDbTraitCollection2nd.template">
       <essence startValue="4" lowerableState="Default">
        <limitation type="Static" value="7"/>
        <minimum value="4"/>
    </essence>

</traitTemplates>