<traitTemplates uses="template/OutcasteDbTraitCollection.template">
  <abilities>
		<defaultTrait startValue="0" lowerableState="Default">
			<limitation type="Essence"/>
			<minimum value="0"/>
		</defaultTrait>
		<specialTrait id="Sail" startValue="1" lowerableState="Default" zeroLevel="0" isRequiredFavored="false">
			<limitation type="Essence"/>
			<minimum value="1"/>
		</specialTrait>
	</abilities>
</traitTemplates>