<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.6" "http://jpf.sourceforge.net/plugin_0_6.dtd">
<plugin id="net.sf.anathema.charmentry" version="1.00">
	<requires>
		<import plugin-id="net.sf.anathema.core" reverse-lookup="true"/>
		<import plugin-id="net.sf.anathema.namegenerator"/>
	</requires>
	<runtime>
		<library id="core" path="./" type="code">
			<export prefix="*"/>
		</library>
		<library id="resources" path="./" type="resources">
			<export prefix="*"/>
		</library>
	</runtime>
	<extension plugin-id="net.sf.anathema.core"	point-id="Menubar" id="Menubar">
		<parameter id="class" value="net.sf.anathema.charmentry.module.CharmEntryMenu"/>
	</extension>	
	<extension plugin-id="net.sf.anathema.core"	point-id="AnathemaResources" id="Resources">
		<parameter id="bundle" value="CharmEntry"/>		
	</extension>
</plugin>