<magicTemplate>
	<freePicksPredicate defaultResponse="true"/>
	<favoringTraitType type="YoziType"/>
	<charmTemplate charmType="Infernal">
		<martialArts level="Mortal"/> 
	</charmTemplate>
	<spellTemplate maximumSorceryCircle="Solar" maximumNecromancyCircle="Labyrinth" subTemplate="net.sf.anathema.character.infernal.template.InfernalSpellMagicTemplate"/>
</magicTemplate>