<experiencePointCost uses="experience/DefaultExperienceCost.template">
  <magic>
    <charms favored="8" general="10">
    	<highLevelMartialArts favored="8" general="10"/>
    </charms>
    <spells favored="9" general="9"/>
  </magic>
</experiencePointCost>