<magicTemplate>
	<freePicksPredicate defaultResponse="true"/>
	<favoringTraitType type="VirtueType"/>
	<charmTemplate charmType="Ghost">
		<martialArts level="Celestial"/>
	</charmTemplate>
	<spellTemplate maximumSorceryCircle="None" maximumNecromancyCircle="None"/>
</magicTemplate>		