<presentation>
  <color red="247" green="234" blue="130" />
  <newResources>
    <newAction>CharacterGenerator.NewCharacter.Solar.Name</newAction>
  </newResources>
  <charmPresentation uses="template/SolarCharmPresentation2nd.template"/>
</presentation>