<magicTemplate>
	<freePicksPredicate type="Default"/>
	<charmTemplate charmType="Solar">
		<martialArts level="Celestial" highLevel="false"/>
		<alienCharms>
			<caste type="Eclipse"/>
		</alienCharms>
	</charmTemplate>
	<spellTemplate maximumSorceryCircle="Solar" maximumNecromancyCircle="None"/>
</magicTemplate>		