<presentation>
  <color red="255" green="215" blue="0" />
  <newResources>
    <newAction>CharacterGenerator.NewCharacter.Solar.Name</newAction>
  </newResources>
  <charmPresentation uses="template/SolarCharmPresentation.template"/>
</presentation>