<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.6" "http://jpf.sourceforge.net/plugin_0_6.dtd">
<plugin id="net.sf.anathema.core" version="0.12" class="net.sf.anathema.AnathemaApplicationPlugin">
	<runtime>
		<library id="core" path="./" type="code">
			<export prefix="*"/>
		</library>
		<library id="disyCore" path="${ANATHEMA_LIB}/disy-commons-core.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="disySwing" path="${ANATHEMA_LIB}/disy-commons-swing.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="dom4j" path="${ANATHEMA_LIB}/dom4j-1.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="disySwingLayout" path="${ANATHEMA_LIB}/disy-commons-swing-layout.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="disySwingDialog" path="${ANATHEMA_LIB}/disy-commons-swing-dialog.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="TabbedPane" path="${ANATHEMA_LIB}/idw-gpl-1.4.0.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="TaskPane" path="${ANATHEMA_LIB}/l2fprod-common-directorychooser.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="iText" path="${ANATHEMA_LIB}/itext-1.4.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="CommonsIO" path="${ANATHEMA_LIB}/commons-io.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="db4o" path="${ANATHEMA_LIB}/db4o-6.0-java5.jar" type="code">
			<export prefix="*"/>
		</library>
	</runtime>
	<extension-point id="AnathemaExtensions">
		<parameter-def id="type" multiplicity="any">
			<parameter-def id="class" multiplicity="one"/>
			<parameter-def id="id" multiplicity="one"/>
		</parameter-def>
	</extension-point>
	<extension-point id="AnathemaResources">
		<parameter-def id="bundle" multiplicity="any"/>
	</extension-point>
	<extension-point id="ItemTypes">
		<parameter-def id="type" multiplicity="any">
			<parameter-def id="class" multiplicity="one"/>
			<parameter-def id="development" type="boolean" multiplicity="none-or-one"/>
		</parameter-def>
	</extension-point>
	<extension-point id="PreferenceElements" >
		<parameter-def id="class" multiplicity="any"/>
	</extension-point>
	<extension-point id="Bootjobs">
		<parameter-def id="class"/>
	</extension-point>
	<extension-point id="Menubar">
		<parameter-def id="class" multiplicity="any"/>
	</extension-point>
	<extension-point id="ReportFactories">
		<parameter-def id="class" multiplicity="any"/>
	</extension-point>
	<extension-point id="Toolbar">
		<parameter-def id="class" multiplicity="any"/>
	</extension-point>
	<extension plugin-id="net.sf.anathema.core"	point-id="Menubar" id="Menubar">
		<parameter id="class" value="net.sf.anathema.framework.module.AnathemaCoreMenu"/>
	</extension>
	<extension plugin-id="net.sf.anathema.core"	point-id="Toolbar" id="Toolbar">
		<parameter id="class" value="net.sf.anathema.framework.module.AnathemaCoreTool"/>
	</extension>
	<extension plugin-id="net.sf.anathema.core"	point-id="PreferenceElements" id="PreferenceElements">
		<parameter id="class" value="net.sf.anathema.framework.module.preferences.LookAndFeelPreferencesElement"/>
		<parameter id="class" value="net.sf.anathema.framework.module.preferences.MaximizePreferencesElement"/>
		<parameter id="class" value="net.sf.anathema.framework.module.preferences.OpenPdfPreferencesElement"/>
		<parameter id="class" value="net.sf.anathema.framework.module.preferences.LanguagePreferencesElement"/>
		<parameter id="class" value="net.sf.anathema.framework.module.preferences.ToolTipTimePreferencesElement"/>
		<parameter id="class" value="net.sf.anathema.framework.module.preferences.RepositoryPreferencesElement"/>
	</extension>
	<extension plugin-id="net.sf.anathema.core"	point-id="Bootjobs" id="AnathemaCore">
		<parameter id="class" value="net.sf.anathema.framework.module.ItemViewBootJob"/>
	</extension>
	<extension plugin-id="net.sf.anathema.core"	point-id="AnathemaResources" id="Resources">
		<parameter id="bundle" value="anathema"/>
		<parameter id="bundle" value="About"/>
	</extension>
	<extension plugin-id="net.sf.anathema.core"	point-id="AnathemaExtensions" id="AnathemaExtensions">
	  <parameter id="type">
		<parameter id="class" value="net.sf.anathema.framework.presenter.item.ItemTypeCreationViewPropertiesExtensionPoint"/>
		<parameter id="id" value="net.sf.anathema.framework.presenter.item.ItemTypeCreationViewPropertiesExtensionPoint"/>
	  </parameter>
	  <parameter id="type">
		<parameter id="class" value="net.sf.anathema.framework.presenter.menu.MenuExtensionPoint"/>
		<parameter id="id" value="Menu.Extra"/>
	  </parameter>
	  <parameter id="type">
		<parameter id="class" value="net.sf.anathema.framework.module.PreferencesElementsExtensionPoint"/>
		<parameter id="id" value="net.sf.anathema.framework.module.PreferencesElementsExtensionPoint"/>
	  </parameter>
	</extension>
</plugin>