{
  favoringTrait: Occult,
  sorcery: {
     Terrestrial: Solar.TerrestrialCircleSorcery,
     Celestial: Solar.CelestialCircleSorcery,
     Solar: Solar.SolarCircleSorcery
  },
  necromancy: {
     Shadowlands: Solar.ShadowlandsCircleNecromancy,
     Labyrinth: Solar.LabyrinthCircleNecromancy
  }
}