{
    "generalBonusPoints": {
        "freePicks": 10,
         "costs": 4,
         "highMartialArtsCosts": 4
    },
    "favoredBonusPoints": {
        "costs": 3,
        "highMartialArtsCosts": 3
    },
    "generalExperiencePoints": {
         "costs": 10,
         "highMartialArtsCosts": 15
    },
    "favoredExperiencePoints": {
        "costs": 8,
        "highMartialArtsCosts": 12
    }
}