{
  willpower: {
    isVirtueBased: false
  };
  isEssenceUser: true;
  peripheralPool: [
    {
      traitType: "Essence",
      multiplier: 7
    },
    {
      traitType: "Willpower",
      multiplier: 1
    }
  ];
  personalPool: [
    {
      traitType: "Essence",
      multiplier: 3
    },
    {
      traitType: "Willpower",
      multiplier: 1
    }
  ]
}